body {
    font-family: 'Exo 2', sans-serif;
    margin: 0px;
}
.Banner{
background-image: url(images/donation7.jpg);
background-repeat: no-repeat;
text-align: center;
color: aliceblue;
width: 100%;
padding-top: 15%;
padding-bottom: 15%;
}
.center-alignment{
    text-align: center;
}
.donate-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(252, 206, 121),rgb(247, 65, 34));
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 700;
    color: azure;
}
.flexible-donation{
    display: flex;
    justify-content: center;
    margin: 0%;
    text-align: center;
}
.amount-button{
    background-color: rgba(250, 248, 248, 0.671);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5%;
    border: 2px;
    border-radius: 5px;
}
.choice-amount-button{
    box-shadow: 5px 5px 5px rgba(248, 101, 16, 0.863);
    background-color:rgba(245, 52, 52, 0.233);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5%;
    border: 2px;
    border-radius: 5px;
    color: rgb(236, 69, 69);
}
.other-amount{
    color: rgb(222, 223, 224);
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 2px solid gray;
    margin-left: 30%;
    margin-right: 30%;
}
.half-width{
    width:50%;
    padding: 2%;
}
.half-width img{
    width: 100%;
}
.flexible-container{
    display: flex;
}
.food-plan{
    background-color: rgba(201, 245, 245, 0.438);
    padding: 15px;
    width: 30%;
    margin: 15px;
    border-radius: 5px;
}
.family-plan{
    background-color: rgba(245, 187, 245, 0.438);
    padding: 15px;
    width: 30%;
    margin: 15px;
    border-radius: 5px;
}
.education-plan{
    background-color: rgba(247, 245, 176, 0.438);
    padding: 15px;
    width: 30%;
    margin: 15px;
    border-radius: 5px;
}
.half-width-img{
    width: 50%;
}